# Dataset — too large for GitHub
datasets/



# Python cache
__pycache__/
*.pyc
*.pyo
.venv/
venv/

# Uploads
static/uploads/

# Temp files
*.wav
*.tmp
nohup.out

# VS Code
.vscode/

# Environment
.env